In [3]:
import pickle
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
import geopandas as gpd
import pandas as pd
import numpy as np
import pickle
from shapely import Point
from shapely.ops import nearest_points
from rtree import index
from tqdm import tqdm

from shapely.geometry import Point, Polygon, LineString,MultiLineString

In [4]:
# import Node_Block.pkl

with open(r'intermediate_files/Node_Block.pkl', 'rb') as f:
    Node_Block = pickle.load(f)

In [5]:
Node_Block

,Node,BlockNumber,BlockBoundary
0,0,060378002062007,"MULTIPOLYGON (((-118.68372 34.164316, -118.683..."
1,1,060379201061055,"MULTIPOLYGON (((-118.681741 34.444332, -118.68..."
2,2,060378005041027,"MULTIPOLYGON (((-118.685613 34.036776, -118.68..."
3,3,060378002021012,"MULTIPOLYGON (((-118.68486 34.084816, -118.684..."
4,4,060379201061079,"MULTIPOLYGON (((-118.707669 34.436242, -118.70..."
...,...,...,...
180082,162810,060371132351008,"MULTIPOLYGON (((-118.645234 34.238084, -118.64..."
180083,3196,060371132351004,"MULTIPOLYGON (((-118.636906 34.2404, -118.6363..."
180084,162813,060371132351007,"MULTIPOLYGON (((-118.643995 34.240384, -118.64..."
180085,162814,060371132351007,"MULTIPOLYGON (((-118.643995 34.240384, -118.64..."
180086,162815,060371132351007,"MULTIPOLYGON (((-118.643995 34.240384, -118.64..."

In [6]:
# number of unique values in Node_Block['Node']

len(Node_Block['Node'].unique())

180087

In [7]:
with open(r'nodes_edges_ucla_big_graph.pickle', 'rb') as handle:
    B_matrix_sliced,B_matrix_str_sliced,nodes_coordinates_array = pickle.load(handle)

In [8]:
# dimensions of nodes_coordinates_array

nodes_coordinates_array.shape

(180087, 2)

In [10]:
Origin_Destination = pd.read_csv('lodes_od_data/ca_od_main_JT00_2021.csv')

In [11]:
Initial_Origin_Destination_Count = len(Origin_Destination)

In [12]:
# Create dictionary for block and node pairings (identified from BlockDetermination.ipynb)
block_node_dict = {}

In [13]:
for _, row in Node_Block.iterrows():
    node_id = row['Node']
    block_id = row['BlockNumber']
    # block_coord = row['BlockBoundary']
    if int(block_id) not in block_node_dict:
        block_node_dict[int(block_id)] = []
    block_node_dict[int(block_id)].append(node_id)

Origin_Destination_Node_Added = Origin_Destination.copy()

In [14]:
Origin_Destination_Node_Added

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
0,60014001001003,60014004002014,1,0,0,1,0,0,1,0,0,1,20231016
1,60014001001003,60014017002013,1,1,0,0,0,0,1,0,0,1,20231016
2,60014001001003,60014045011006,1,0,1,0,0,0,1,0,0,1,20231016
3,60014001001003,60014047001005,1,0,0,1,0,0,1,0,0,1,20231016
4,60014001001003,60014053012003,1,0,1,0,0,0,1,0,0,1,20231016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15041046,61150411021047,61150411021023,1,0,0,1,0,1,0,0,0,1,20231016
15041047,61150411021047,61150411021024,1,0,0,1,0,1,0,1,0,0,20231016
15041048,61150411021047,61150411021025,1,0,0,1,0,1,0,0,0,1,20231016
15041049,61150411021047,61150411021031,1,0,0,1,0,1,0,0,0,1,20231016
15041050,61150411021047,61150411021047,1,0,1,0,0,0,1,0,0,1,20231016

In [15]:
# drop createdate column

Origin_Destination_Node_Added = Origin_Destination_Node_Added.drop(columns=['createdate'])

In [16]:
# Map nodes to work and home blocks
Origin_Destination_Node_Added['w_node_id'] = Origin_Destination_Node_Added['w_geocode'].map(block_node_dict)
Origin_Destination_Node_Added['h_node_id'] = Origin_Destination_Node_Added['h_geocode'].map(block_node_dict)

In [17]:
Origin_Destination_Node_Added

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,w_node_id,h_node_id
0,60014001001003,60014004002014,1,0,0,1,0,0,1,0,0,1,NaN,NaN
1,60014001001003,60014017002013,1,1,0,0,0,0,1,0,0,1,NaN,NaN
2,60014001001003,60014045011006,1,0,1,0,0,0,1,0,0,1,NaN,NaN
3,60014001001003,60014047001005,1,0,0,1,0,0,1,0,0,1,NaN,NaN
4,60014001001003,60014053012003,1,0,1,0,0,0,1,0,0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15041046,61150411021047,61150411021023,1,0,0,1,0,1,0,0,0,1,NaN,NaN
15041047,61150411021047,61150411021024,1,0,0,1,0,1,0,1,0,0,NaN,NaN
15041048,61150411021047,61150411021025,1,0,0,1,0,1,0,0,0,1,NaN,NaN
15041049,61150411021047,61150411021031,1,0,0,1,0,1,0,0,0,1,NaN,NaN
15041050,61150411021047,61150411021047,1,0,1,0,0,0,1,0,0,1,NaN,NaN

In [18]:
# how many rows have w_node_id and h_node_id as NaN

Origin_Destination_Node_Added['w_node_id'].isna().sum() / len(Origin_Destination_Node_Added)

0.8265825971868588

In [19]:
# Remove rows where the node columns are missing (i.e. the block is not in the node dictionary)
Origin_Destination_Node_Added = Origin_Destination_Node_Added[Origin_Destination_Node_Added['w_node_id'].notnull()]
Origin_Destination_Node_Added = Origin_Destination_Node_Added[Origin_Destination_Node_Added['h_node_id'].notnull()]

In [20]:
Origin_Destination_Node_Added.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1425945 entries, 1959609 to 6053876
Data columns (total 14 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   w_geocode  1425945 non-null  int64
 1   h_geocode  1425945 non-null  int64
 2   S000       1425945 non-null  int64
 3   SA01       1425945 non-null  int64
 4   SA02       1425945 non-null  int64
 5   SA03       1425945 non-null  int64
 6   SE01       1425945 non-null  int64
 7   SE02       1425945 non-null  int64
 8   SE03       1425945 non-null  int64
 9   SI01       1425945 non-null  int64
 10  SI02       1425945 non-null  int64
 11  SI03       1425945 non-null  int64
 12  w_node_id  1425945 non-null  object
 13  h_node_id  1425945 non-null  object
dtypes: int64(12), object(2)
memory usage: 498.4 MB

In [21]:
# store S000, SA01, SA02, SA03, SE01, SE02, SE03, SI01, SI02, SI03 columns in a separate dataframe

Origin_Destination_Node_Added_Work = Origin_Destination_Node_Added[['w_geocode', 'h_geocode', 'S000', 'SA01', 'SA02', 'SA03', 'SE01', 'SE02', 'SE03', 'SI01', 'SI02', 'SI03']]

# remove the columns from the original dataframe

# Origin_Destination_Node_Added = Origin_Destination_Node_Added.drop(columns=['S000', 'SA01', 'SA02', 'SA03', 'SE01', 'SE02', 'SE03', 'SI01', 'SI02', 'SI03'])

In [22]:
Origin_Destination_Node_Added

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,w_node_id,h_node_id
1959609,60371011101000,60371011102004,1,0,1,0,0,1,0,0,0,1,"[118106, 118114, 118119]","[112096, 112556]"
1959610,60371011101000,60371021072013,1,0,1,0,0,1,0,0,0,1,"[118106, 118114, 118119]","[81706, 81855, 175590]"
1959611,60371011101000,60371286011008,1,0,0,1,0,1,0,0,0,1,"[118106, 118114, 118119]",[42821]
1959612,60371011101000,60371920012009,1,0,1,0,0,0,1,0,0,1,"[118106, 118114, 118119]",[87006]
1959614,60371011101001,60371011103006,1,0,1,0,0,1,0,0,0,1,"[117479, 117637]",[111269]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6053870,60379800391003,60379200291006,1,0,1,0,0,0,1,0,0,1,"[82902, 82983, 83045, 83094, 83117, 83143, 831...","[30108, 30214, 30418, 30625, 30684]"
6053872,60379800391003,60379200411018,1,0,1,0,0,0,1,0,0,1,"[82902, 82983, 83045, 83094, 83117, 83143, 831...","[43840, 43844, 173855, 173856]"
6053874,60379800391003,60379203222004,1,0,0,1,0,1,0,0,0,1,"[82902, 82983, 83045, 83094, 83117, 83143, 831...","[17372, 17397, 17417, 17502, 17579, 17758, 178..."
6053875,60379800391003,60379203312000,1,0,0,1,0,0,1,0,0,1,"[82902, 82983, 83045, 83094, 83117, 83143, 831...","[16142, 16230, 16358, 16418, 16512, 16543, 165..."
6053876,60379800391003,60379203431009,1,0,0,1,0,0,1,0,0,1,"[82902, 82983, 83045, 83094, 83117, 83143, 831...","[22975, 23004, 23016, 23043, 23051, 23136, 233..."

In [23]:
# print memory of Origin_Destination_Node_Added

Origin_Destination_Node_Added.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1425945 entries, 1959609 to 6053876
Data columns (total 14 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   w_geocode  1425945 non-null  int64
 1   h_geocode  1425945 non-null  int64
 2   S000       1425945 non-null  int64
 3   SA01       1425945 non-null  int64
 4   SA02       1425945 non-null  int64
 5   SA03       1425945 non-null  int64
 6   SE01       1425945 non-null  int64
 7   SE02       1425945 non-null  int64
 8   SE03       1425945 non-null  int64
 9   SI01       1425945 non-null  int64
 10  SI02       1425945 non-null  int64
 11  SI03       1425945 non-null  int64
 12  w_node_id  1425945 non-null  object
 13  h_node_id  1425945 non-null  object
dtypes: int64(12), object(2)
memory usage: 498.4 MB

In [24]:
# convert Origin_Destination_Node_Added to array

Origin_Destination_Node_Added_array = Origin_Destination_Node_Added.to_numpy()

In [25]:
Origin_Destination_Node_Added_array

array([[60371011101000, 60371011102004, 1, ..., 1,
        list([118106, 118114, 118119]), list([112096, 112556])],
       [60371011101000, 60371021072013, 1, ..., 1,
        list([118106, 118114, 118119]), list([81706, 81855, 175590])],
       [60371011101000, 60371286011008, 1, ..., 1,
        list([118106, 118114, 118119]), list([42821])],
       ...,
       [60379800391003, 60379203222004, 1, ..., 1,
        list([82902, 82983, 83045, 83094, 83117, 83143, 83146, 83244, 83444, 83480, 83481, 83734, 84128, 84590, 85532, 85594, 85660, 85727, 85781, 85788, 85864, 86440, 86492, 88671, 166731, 166732, 176234]),
        list([17372, 17397, 17417, 17502, 17579, 17758, 17864, 17869, 17954, 17955, 17987, 17988, 17989, 18033, 18041, 18122, 18126, 18244, 18245, 18246, 18267, 18276, 18308, 18320, 18503, 18508, 18513, 18523, 18544, 18547, 172515])],
       [60379800391003, 60379203312000, 1, ..., 1,
        list([82902, 82983, 83045, 83094, 83117, 83143, 83146, 83244, 83444, 83480, 83481, 83734, 84128, 84590, 85532, 85594, 85660, 85727, 85781, 85788, 85864, 86440, 86492, 88671, 166731, 166732, 176234]),
        list([16142, 16230, 16358, 16418, 16512, 16543, 16547, 16548, 16587, 16630, 17281, 18024, 18242, 172279, 172311, 172312, 172323, 172335, 172337, 172338, 172340, 172341, 172343, 172545, 172547, 172550, 172552, 172554, 172556, 172557, 172558, 172559, 172560, 172564, 172566, 172568])],
       [60379800391003, 60379203431009, 1, ..., 1,
        list([82902, 82983, 83045, 83094, 83117, 83143, 83146, 83244, 83444, 83480, 83481, 83734, 84128, 84590, 85532, 85594, 85660, 85727, 85781, 85788, 85864, 86440, 86492, 88671, 166731, 166732, 176234]),
        list([22975, 23004, 23016, 23043, 23051, 23136, 23354, 23391, 23414, 23436, 23442, 23469, 23486, 23488, 23606, 23645, 23647, 23766, 23878, 23950, 23980, 24088, 24341, 173306, 173308, 173312, 173314, 173317, 173319, 173373])]],
      dtype=object)

In [26]:
# extract only columns 0 and 1 from Origin_Destination_Node_Added_array

Block_to_Block_Pairs = Origin_Destination_Node_Added_array[:, 0:2]

In [27]:
Block_to_Block_Pairs

array([[60371011101000, 60371011102004],
       [60371011101000, 60371021072013],
       [60371011101000, 60371286011008],
       ...,
       [60379800391003, 60379203222004],
       [60379800391003, 60379203312000],
       [60379800391003, 60379203431009]], dtype=object)

In [28]:
# check if each row in Block_to_Block_Pairs array is a unique pair

Block_to_Block_Pairs = Block_to_Block_Pairs.astype(float)  # or int, depending on your data
unique_rows = np.unique(Block_to_Block_Pairs, axis=0)
is_all_unique = len(Block_to_Block_Pairs) == len(unique_rows)

In [29]:
is_all_unique

True

In [30]:
# extract only columns 2 to 11 from Origin_Destination_Node_Added_array

LODES_info_to_be_adjusted = Origin_Destination_Node_Added_array[:, 2:12]

In [31]:
LODES_info_to_be_adjusted

array([[1, 0, 1, ..., 0, 0, 1],
       [1, 0, 1, ..., 0, 0, 1],
       [1, 0, 0, ..., 0, 0, 1],
       ...,
       [1, 0, 0, ..., 0, 0, 1],
       [1, 0, 0, ..., 0, 0, 1],
       [1, 0, 0, ..., 0, 0, 1]], dtype=object)

In [32]:
len(LODES_info_to_be_adjusted)

1425945

In [33]:
# Origin_Destination_Node_Added_array[:, 12:14]

block_pairing_count_list = []

for nodes in Origin_Destination_Node_Added_array[:, 12:14]:
    block_pairing_count = len(nodes[0]) * len(nodes[1])
    block_pairing_count_list.append(block_pairing_count)

In [34]:
len(block_pairing_count_list)

1425945

In [35]:
for i in range(len(LODES_info_to_be_adjusted)):
    LODES_info_to_be_adjusted[i] = LODES_info_to_be_adjusted[i] / block_pairing_count_list[i]

In [36]:
LODES_adjusted = LODES_info_to_be_adjusted

In [37]:
Node_to_Node_lists = Origin_Destination_Node_Added_array[:, 12:14]

In [38]:
Node_to_Node_lists

array([[list([118106, 118114, 118119]), list([112096, 112556])],
       [list([118106, 118114, 118119]), list([81706, 81855, 175590])],
       [list([118106, 118114, 118119]), list([42821])],
       ...,
       [list([82902, 82983, 83045, 83094, 83117, 83143, 83146, 83244, 83444, 83480, 83481, 83734, 84128, 84590, 85532, 85594, 85660, 85727, 85781, 85788, 85864, 86440, 86492, 88671, 166731, 166732, 176234]),
        list([17372, 17397, 17417, 17502, 17579, 17758, 17864, 17869, 17954, 17955, 17987, 17988, 17989, 18033, 18041, 18122, 18126, 18244, 18245, 18246, 18267, 18276, 18308, 18320, 18503, 18508, 18513, 18523, 18544, 18547, 172515])],
       [list([82902, 82983, 83045, 83094, 83117, 83143, 83146, 83244, 83444, 83480, 83481, 83734, 84128, 84590, 85532, 85594, 85660, 85727, 85781, 85788, 85864, 86440, 86492, 88671, 166731, 166732, 176234]),
        list([16142, 16230, 16358, 16418, 16512, 16543, 16547, 16548, 16587, 16630, 17281, 18024, 18242, 172279, 172311, 172312, 172323, 172335, 172337, 172338, 172340, 172341, 172343, 172545, 172547, 172550, 172552, 172554, 172556, 172557, 172558, 172559, 172560, 172564, 172566, 172568])],
       [list([82902, 82983, 83045, 83094, 83117, 83143, 83146, 83244, 83444, 83480, 83481, 83734, 84128, 84590, 85532, 85594, 85660, 85727, 85781, 85788, 85864, 86440, 86492, 88671, 166731, 166732, 176234]),
        list([22975, 23004, 23016, 23043, 23051, 23136, 23354, 23391, 23414, 23436, 23442, 23469, 23486, 23488, 23606, 23645, 23647, 23766, 23878, 23950, 23980, 24088, 24341, 173306, 173308, 173312, 173314, 173317, 173319, 173373])]],
      dtype=object)

In [51]:
Origin_Destination_Node_Added_array[:,:12][0]

array([60371011101000, 60371011102004, 0.16666666666666666, 0.0,
       0.16666666666666666, 0.0, 0.0, 0.16666666666666666, 0.0, 0.0, 0.0,
       0.16666666666666666], dtype=object)

In [39]:
from itertools import product

Node_to_Node_pairs = []

for nodes in Node_to_Node_lists:
    Node_to_Node_pairs.extend(product(nodes[0], nodes[1]))

In [40]:
len(Node_to_Node_pairs)

88813000

In [53]:
Node_to_Node_pairs

[(118106, 112096),
 (118106, 112556),
 (118114, 112096),
 (118114, 112556),
 (118119, 112096),
 (118119, 112556),
 (118106, 81706),
 (118106, 81855),
 (118106, 175590),
 (118114, 81706),
 (118114, 81855),
 (118114, 175590),
 (118119, 81706),
 (118119, 81855),
 (118119, 175590),
 (118106, 42821),
 (118114, 42821),
 (118119, 42821),
 (118106, 87006),
 (118114, 87006),
 (118119, 87006),
 (117479, 111269),
 (117637, 111269),
 (117479, 122742),
 (117479, 122881),
 (117479, 123527),
 (117479, 123906),
 (117479, 176640),
 (117479, 176642),
 (117637, 122742),
 (117637, 122881),
 (117637, 123527),
 (117637, 123906),
 (117637, 176640),
 (117637, 176642),
 (116490, 111274),
 (116490, 111280),
 (116490, 111287),
 (116490, 111288),
 (116490, 176785),
 (116496, 111274),
 (116496, 111280),
 (116496, 111287),
 (116496, 111288),
 (116496, 176785),
 (116889, 111274),
 (116889, 111280),
 (116889, 111287),
 (116889, 111288),
 (116889, 176785),
 (116490, 55061),
 (116496, 55061),
 (116889, 55061),
 (116490, 46311),
 (116490, 46587),
 (116496, 46311),
 (116496, 46587),
 (116889, 46311),
 (116889, 46587),
 (116490, 23015),
 (116490, 23021),
 (116490, 23169),
 (116490, 23381),
 (116490, 23583),
 (116490, 23588),
 (116490, 23667),
 (116490, 23904),
 (116490, 23932),
 (116490, 170958),
 (116490, 170973),
 (116490, 171003),
 (116490, 171004),
 (116490, 171008),
 (116490, 171009),
 (116490, 171015),
 (116490, 171016),
 (116490, 171466),
 (116496, 23015),
 (116496, 23021),
 (116496, 23169),
 (116496, 23381),
 (116496, 23583),
 (116496, 23588),
 (116496, 23667),
 (116496, 23904),
 (116496, 23932),
 (116496, 170958),
 (116496, 170973),
 (116496, 171003),
 (116496, 171004),
 (116496, 171008),
 (116496, 171009),
 (116496, 171015),
 (116496, 171016),
 (116496, 171466),
 (116889, 23015),
 (116889, 23021),
 (116889, 23169),
 (116889, 23381),
 (116889, 23583),
 (116889, 23588),
 (116889, 23667),
 (116889, 23904),
 (116889, 23932),
 (116889, 170958),
 (116889, 170973),
 (116889, 171003),
 (116889, 171004),
 (116889, 171008),
 (116889, 171009),
 (116889, 171015),
 (116889, 171016),
 (116889, 171466),
 (116490, 66576),
 (116490, 67001),
 (116490, 68311),
 (116490, 69622),
 (116490, 69750),
 (116490, 69783),
 (116490, 69850),
 (116490, 164250),
 (116490, 164254),
 (116490, 174082),
 (116496, 66576),
 (116496, 67001),
 (116496, 68311),
 (116496, 69622),
 (116496, 69750),
 (116496, 69783),
 (116496, 69850),
 (116496, 164250),
 (116496, 164254),
 (116496, 174082),
 (116889, 66576),
 (116889, 67001),
 (116889, 68311),
 (116889, 69622),
 (116889, 69750),
 (116889, 69783),
 (116889, 69850),
 (116889, 164250),
 (116889, 164254),
 (116889, 174082),
 (115801, 113380),
 (115801, 113664),
 (115801, 114003),
 (115801, 114663),
 (115801, 111273),
 (115801, 111278),
 (115801, 111285),
 (115801, 111290),
 (115801, 109193),
 (115801, 109216),
 (115801, 109714),
 (115801, 109746),
 (115801, 110161),
 (115801, 176677),
 (115801, 176706),
 (115801, 117454),
 (115801, 117760),
 (115801, 78113),
 (115801, 78126),
 (115801, 78130),
 (115801, 78168),
 (115801, 78670),
 (115801, 19327),
 (115801, 19333),
 (115801, 170421),
 (115801, 72801),
 (115801, 72811),
 (115801, 73422),
 (115801, 132637),
 (114990, 115801),
 (114990, 113503),
 (114990, 113656),
 (114990, 113706),
 (114990, 113765),
 (114990, 113866),
 (114990, 113979),
 (114990, 114087),
 (114990, 114174),
 (114990, 114592),
 (114990, 114796),
 (114990, 114929),
 (114990, 114996),
 (114990, 115090),
 (114990, 115200),
 (114990, 115611),
 (114990, 116135),
 (114990, 176649),
 (114990, 176664),
 (114990, 176668),
 (114990, 176707),
 (114990, 176721),
 (114990, 80687),
 (114990, 80703),
 (114990, 81894),
 (114990, 82429),
 (114990, 64168),
 (114990, 65311),
 (114990, 48275),
 (114990, 48289),
 (114990, 48330),
 (114990, 48392),
 (114990, 48472),
 (114990, 48939),
 (114990, 49449),
 (114990, 45541),
 (114990, 45554),
 (114990, 45718),
 (114990, 45995),
 (114990, 46006),
 (114990, 46077),
 (114990, 46126),
 (114990, 46339),
 (114990, 47100),
 (114990, 19327),
 (114990, 19333),
 (114990, 170421),
 (114990, 19306),
 (114990, 19323),
 (114990, 19546),
 (114990, 19876),
 (114990, 20084),
 (114990, 20164),
 (114990, 170500),
 (114990, 170517),
 (114990, 46853),
 (114990, 39585),
 (114990, 39593),
 (114990, 39602),
 (114990, 39607),
 (114990, 39910),
 (114990, 39913),
 (114990, 40135),
 (114990, 40138),
 (114990, 40681),
 (114990, 40846),
 (114990, 40912),
 (114990, 41378),
 (114990, 174370),
 (114990, 174373),
 (114990, 72196),
 (114990, 135483),
 (114990, 135741),
 (114990, 129079),
 (114990, 129103),
 (114990, 129140),
 (114990, 129329),
 (114990, 129735),
 (114990, 129863),
 (114990, 130028),
 (114990, 130171),
 (114990, 130256),
 (114990, 130281),
 (114990, 130380),
 (114990, 178951),
 (114990, 178954),
 (114990, 61087),
 (114990, 61606),
 (114990, 61674),
 (114990, 61795),
 (114990, 160773),
 (114990, 160813),
 (115745, 115745),
 (115745, 111677),
 (115745, 111660),
 (115745, 111269),
 (115745, 112528),
 (115745, 112911),
 (115745, 112958),
 (115745, 113228),
 (115745, 113258),
 (115745, 113377),
 (115745, 113485),
 (115745, 114127),
 (115745, 115740),
 (115745, 116258),
 (115745, 176743),
 (115745, 176746),
 (115745, 176747),
 (115745, 176749),
 (115745, 176750),
 (115745, 176753),
 (115745, 176757),
 (115745, 176764),
 (115745, 176778),
 (115745, 176781),
 (115745, 113383),
 (115745, 113385),
 (115745, 113386),
 (115745, 113929),
 (115745, 115112),
 (115745, 127974),
 (115745, 126048),
 (115745, 126206),
 (115745, 127423),
 (115745, 127656),
 (115745, 127692),
 (115745, 127700),
 (115745, 176690),
 (115745, 25578),
 (115745, 25715),
 (115745, 25770),
 (115745, 26158),
 (115745, 26754),
 (115745, 43404),
 (115745, 43446),
 (115745, 43802),
 (115745, 43857),
 (115745, 44163),
 (115745, 44477),
 (115745, 6340),
 (115745, 6353),
 (115745, 6514),
 (115745, 6541),
 (115745, 6615),
 (115745, 6617),
 (115745, 6778),
 (115745, 6843),
 (115745, 169411),
 (115745, 169419),
 (115745, 169423),
 (115745, 169424),
 (115745, 169437),
 (115745, 9681),
 (115745, 9683),
 (115745, 9742),
 (115745, 9922),
 (115745, 9967),
 (115745, 9693),
 (115745, 9700),
 (115745, 9766),
 (115745, 9956),
 (115745, 10023),
 (115745, 10271),
 (115745, 10333),
 (115745, 10380),
 (115745, 10381),
 (115745, 73961),
 (115745, 73962),
 (115745, 73967),
 (115745, 73969),
 (115745, 73986),
 (115745, 74002),
 (115745, 74349),
 (115745, 74350),
 (115745, 74351),
 (115745, 74363),
 (115745, 74384),
 (115745, 74390),
 (115745, 74462),
 (115745, 75476),
 (115745, 75477),
 (115745, 75478),
 (115745, 75689),
 (115745, 75892),
 (115745, 76014),
 (115745, 76131),
 (115745, 76145),
 (115745, 176066),
 (115745, 176067),
 (115745, 72348),
 (115745, 72658),
 (115745, 73302),
 (115745, 73522),
 (115745, 73659),
 (115745, 176075),
 (115745, 176076),
 (115745, 176077),
 (115745, 67230),
 (115745, 67901),
 (115745, 68326),
 (115745, 68334),
 (115745, 68366),
 (115745, 176025),
 (115745, 176029),
 (115745, 176030),
 (115745, 77844),
 (115745, 78353),
 (115745, 78358),
 (115745, 78363),
 (115745, 78370),
 (115745, 11179),
 (115745, 11180),
 (115745, 8896),
 (115745, 8898),
 (115745, 8960),
 (115745, 8961),
 (115745, 3007),
 (115745, 139906),
 (115745, 140041),
 (115745, 140446),
 (115745, 178983),
 (115745, 138722),
 (115745, 140284),
 (115745, 140293),
 (115745, 141144),
 (115745, 141155),
 (115745, 141166),
 (115745, 141170),
 (115745, 142241),
 (115745, 142281),
 (115745, 142285),
 (115745, 142396),
 (115745, 142407),
 (115745, 143130),
 (115745, 143257),
 (115745, 143261),
 (115745, 143292),
 (115745, 176842),
 (115745, 150026),
 (115745, 150323),
 (115745, 150585),
 (115745, 150707),
 (115745, 150940),
 (115745, 150967),
 (115745, 151183),
 (115745, 151189),
 (115745, 151196),
 (115745, 151549),
 (115745, 152018),
 (115745, 152204),
 (115745, 152245),
 (115745, 152251),
 (115745, 152350),
 (115745, 152632),
 (115745, 153381),
 (115745, 177153),
 (115745, 177159),
 (115745, 177162),
 (115745, 177169),
 (115745, 177177),
 (115745, 177178),
 (115745, 177179),
 (115745, 177184),
 (115745, 177190),
 (115745, 121672),
 (115745, 142199),
 (115745, 142314),
 (115745, 143596),
 (115745, 106968),
 (115745, 46228),
 (115745, 46451),
 (115745, 46956),
 (115745, 47017),
 (115745, 47295),
 (115745, 4806),
 (115745, 4895),
 (115745, 5112),
 (115745, 163794),
 (115745, 163796),
 (115745, 163801),
 (116468, 114990),
 (116868, 114990),
 (116468, 112096),
 (116468, 112556),
 (116868, 112096),
 (116868, 112556),
 (116468, 113345),
 (116468, 113346),
 (116468, 113477),
 (116868, 113345),
 (116868, 113346),
 (116868, 113477),
 (116468, 112546),
 (116468, 112944),
 (116868, 112546),
 (116868, 112944),
 (116468, 106902),
 (116468, 107050),
 (116868, 106902),
 (116868, 107050),
 (116468, 91268),
 (116468, 91455),
 (116468, 91542),
 (116868, 91268),
 (116868, 91455),
 (116868, 91542),
 (116468, 89924),
 (116468, 90081),
 (116468, 90162),
 (116468, 91175),
 (116468, 91429),
 (116468, 91481),
 (116468, 91816),
 (116468, 92556),
 (116468, 93334),
 (116468, 95009),
 (116868, 89924),
 (116868, 90081),
 (116868, 90162),
 (116868, 91175),
 (116868, 91429),
 (116868, 91481),
 (116868, 91816),
 (116868, 92556),
 (116868, 93334),
 (116868, 95009),
 (116468, 99145),
 (116468, 99147),
 (116468, 99164),
 (116468, 99242),
 (116468, 175822),
 (116868, 99145),
 (116868, 99147),
 (116868, 99164),
 (116868, 99242),
 (116868, 175822),
 (116468, 76352),
 (116468, 76368),
 (116468, 76377),
 (116468, 77016),
 (116468, 77189),
 (116468, 78265),
 (116468, 78758),
 (116868, 76352),
 (116868, 76368),
 (116868, 76377),
 (116868, 77016),
 (116868, 77189),
 (116868, 78265),
 (116868, 78758),
 (116468, 147898),
 (116468, 148713),
 (116468, 150257),
 (116468, 150272),
 (116468, 150322),
 (116868, 147898),
 (116868, 148713),
 (116868, 150257),
 (116868, 150272),
 (116868, 150322),
 (117466, 102572),
 (117466, 102573),
 (117466, 102583),
 (117466, 102586),
 (117466, 103437),
 (117466, 103504),
 (117466, 103519),
 (117466, 103524),
 (117466, 103544),
 (117466, 103899),
 (117466, 104220),
 (117466, 104624),
 (117466, 106641),
 (117466, 106986),
 (117466, 107034),
 (117466, 107052),
 (117466, 107304),
 (117466, 107575),
 (117466, 107709),
 (117466, 108660),
 (117466, 108825),
 (117466, 109194),
 (117466, 109293),
 (117466, 110358),
 (117466, 175775),
 (117466, 175776),
 (117466, 175780),
 (117466, 175781),
 (117466, 175784),
 (117466, 175787),
 (117466, 175794),
 (117466, 175809),
 (117466, 175816),
 (117466, 176730),
 (117466, 176731),
 (117466, 176733),
 (117466, 176734),
 (117466, 98867),
 (117466, 99082),
 (117466, 99235),
 (117418, 117418),
 (117418, 117431),
 (117418, 117436),
 (117418, 117443),
 (117418, 176625),
 (117418, 176688),
 (117418, 176710),
 (117418, 176723),
 (117418, 176724),
 (117431, 117418),
 (117431, 117431),
 (117431, 117436),
 (117431, 117443),
 (117431, 176625),
 (117431, 176688),
 (117431, 176710),
 (117431, 176723),
 (117431, 176724),
 (117436, 117418),
 (117436, 117431),
 (117436, 117436),
 (117436, 117443),
 (117436, 176625),
 (117436, 176688),
 (117436, 176710),
 (117436, 176723),
 (117436, 176724),
 (117443, 117418),
 (117443, 117431),
 (117443, 117436),
 (117443, 117443),
 (117443, 176625),
 (117443, 176688),
 (117443, 176710),
 (117443, 176723),
 (117443, 176724),
 (176625, 117418),
 (176625, 117431),
 (176625, 117436),
 (176625, 117443),
 (176625, 176625),
 (176625, 176688),
 (176625, 176710),
 (176625, 176723),
 (176625, 176724),
 (176688, 117418),
 (176688, 117431),
 (176688, 117436),
 (176688, 117443),
 (176688, 176625),
 (176688, 176688),
 (176688, 176710),
 (176688, 176723),
 (176688, 176724),
 (176710, 117418),
 (176710, 117431),
 (176710, 117436),
 (176710, 117443),
 (176710, 176625),
 (176710, 176688),
 (176710, 176710),
 (176710, 176723),
 (176710, 176724),
 (176723, 117418),
 (176723, 117431),
 (176723, 117436),
 (176723, 117443),
 (176723, 176625),
 (176723, 176688),
 (176723, 176710),
 (176723, 176723),
 (176723, 176724),
 (176724, 117418),
 (176724, 117431),
 (176724, 117436),
 (176724, 117443),
 (176724, 176625),
 (176724, 176688),
 (176724, 176710),
 (176724, 176723),
 (176724, 176724),
 (117418, 109193),
 (117418, 109216),
 (117418, 109714),
 (117418, 109746),
 (117418, 110161),
 (117418, 176677),
 (117418, 176706),
 (117431, 109193),
 (117431, 109216),
 (117431, 109714),
 (117431, 109746),
 (117431, 110161),
 (117431, 176677),
 (117431, 176706),
 (117436, 109193),
 (117436, 109216),
 (117436, 109714),
 (117436, 109746),
 (117436, 110161),
 (117436, 176677),
 (117436, 176706),
 (117443, 109193),
 (117443, 109216),
 (117443, 109714),
 (117443, 109746),
 (117443, 110161),
 (117443, 176677),
 (117443, 176706),
 (176625, 109193),
 (176625, 109216),
 (176625, 109714),
 (176625, 109746),
 (176625, 110161),
 (176625, 176677),
 (176625, 176706),
 (176688, 109193),
 (176688, 109216),
 (176688, 109714),
 (176688, 109746),
 (176688, 110161),
 (176688, 176677),
 (176688, 176706),
 (176710, 109193),
 (176710, 109216),
 (176710, 109714),
 (176710, 109746),
 (176710, 110161),
 (176710, 176677),
 (176710, 176706),
 (176723, 109193),
 (176723, 109216),
 (176723, 109714),
 (176723, 109746),
 (176723, 110161),
 (176723, 176677),
 (176723, 176706),
 (176724, 109193),
 (176724, 109216),
 (176724, 109714),
 (176724, 109746),
 (176724, 110161),
 (176724, 176677),
 (176724, 176706),
 (117418, 113345),
 (117418, 113346),
 (117418, 113477),
 (117431, 113345),
 (117431, 113346),
 (117431, 113477),
 (117436, 113345),
 (117436, 113346),
 (117436, 113477),
 (117443, 113345),
 (117443, 113346),
 (117443, 113477),
 (176625, 113345),
 (176625, 113346),
 (176625, 113477),
 (176688, 113345),
 (176688, 113346),
 (176688, 113477),
 (176710, 113345),
 (176710, 113346),
 (176710, 113477),
 (176723, 113345),
 (176723, 113346),
 (176723, 113477),
 (176724, 113345),
 (176724, 113346),
 (176724, 113477),
 (117418, 111660),
 (117431, 111660),
 (117436, 111660),
 (117443, 111660),
 (176625, 111660),
 (176688, 111660),
 (176710, 111660),
 (176723, 111660),
 (176724, 111660),
 (117418, 111269),
 (117431, 111269),
 (117436, 111269),
 (117443, 111269),
 (176625, 111269),
 (176688, 111269),
 (176710, 111269),
 (176723, 111269),
 (176724, 111269),
 (117418, 108657),
 (117418, 108775),
 (117418, 109175),
 (117418, 109224),
 (117418, 109522),
 (117418, 109642),
 (117418, 109659),
 (117418, 110277),
 (117418, 111066),
 (117418, 111543),
 (117418, 111567),
 (117418, 111607),
 (117418, 111659),
 (117418, 111739),
 (117418, 111906),
 (117418, 112038),
 (117418, 112040),
 (117418, 112041),
 (117418, 112529),
 (117418, 112689),
 (117418, 112791),
 (117418, 113502),
 (117418, 113601),
 (117418, 176742),
 (117418, 176751),
 (117418, 176752),
 (117418, 176759),
 (117418, 176760),
 (117418, 176761),
 (117418, 176762),
 (117418, 176763),
 (117418, 176765),
 (117418, 176766),
 (117418, 176769),
 (117418, 176771),
 (117418, 176775),
 (117418, 176792),
 (117431, 108657),
 (117431, 108775),
 (117431, 109175),
 (117431, 109224),
 (117431, 109522),
 (117431, 109642),
 (117431, 109659),
 (117431, 110277),
 (117431, 111066),
 (117431, 111543),
 (117431, 111567),
 (117431, 111607),
 (117431, 111659),
 (117431, 111739),
 (117431, 111906),
 (117431, 112038),
 (117431, 112040),
 (117431, 112041),
 (117431, 112529),
 (117431, 112689),
 (117431, 112791),
 (117431, 113502),
 (117431, 113601),
 (117431, 176742),
 (117431, 176751),
 (117431, 176752),
 (117431, 176759),
 (117431, 176760),
 (117431, 176761),
 (117431, 176762),
 (117431, 176763),
 (117431, 176765),
 (117431, 176766),
 (117431, 176769),
 (117431, 176771),
 (117431, 176775),
 (117431, 176792),
 (117436, 108657),
 (117436, 108775),
 (117436, 109175),
 (117436, 109224),
 (117436, 109522),
 (117436, 109642),
 (117436, 109659),
 (117436, 110277),
 (117436, 111066),
 (117436, 111543),
 (117436, 111567),
 (117436, 111607),
 (117436, 111659),
 (117436, 111739),
 (117436, 111906),
 (117436, 112038),
 (117436, 112040),
 (117436, 112041),
 (117436, 112529),
 (117436, 112689),
 (117436, 112791),
 (117436, 113502),
 (117436, 113601),
 (117436, 176742),
 (117436, 176751),
 (117436, 176752),
 (117436, 176759),
 (117436, 176760),
 (117436, 176761),
 (117436, 176762),
 (117436, 176763),
 (117436, 176765),
 (117436, 176766),
 (117436, 176769),
 (117436, 176771),
 (117436, 176775),
 (117436, 176792),
 (117443, 108657),
 (117443, 108775),
 (117443, 109175),
 (117443, 109224),
 (117443, 109522),
 (117443, 109642),
 (117443, 109659),
 (117443, 110277),
 (117443, 111066),
 (117443, 111543),
 (117443, 111567),
 (117443, 111607),
 (117443, 111659),
 (117443, 111739),
 (117443, 111906),
 (117443, 112038),
 (117443, 112040),
 (117443, 112041),
 (117443, 112529),
 (117443, 112689),
 (117443, 112791),
 (117443, 113502),
 (117443, 113601),
 (117443, 176742),
 (117443, 176751),
 (117443, 176752),
 (117443, 176759),
 (117443, 176760),
 (117443, 176761),
 (117443, 176762),
 (117443, 176763),
 (117443, 176765),
 (117443, 176766),
 (117443, 176769),
 (117443, 176771),
 (117443, 176775),
 (117443, 176792),
 (176625, 108657),
 (176625, 108775),
 (176625, 109175),
 (176625, 109224),
 (176625, 109522),
 (176625, 109642),
 (176625, 109659),
 (176625, 110277),
 (176625, 111066),
 (176625, 111543),
 (176625, 111567),
 (176625, 111607),
 (176625, 111659),
 (176625, 111739),
 (176625, 111906),
 (176625, 112038),
 (176625, 112040),
 (176625, 112041),
 (176625, 112529),
 (176625, 112689),
 (176625, 112791),
 (176625, 113502),
 (176625, 113601),
 (176625, 176742),
 (176625, 176751),
 (176625, 176752),
 (176625, 176759),
 (176625, 176760),
 (176625, 176761),
 (176625, 176762),
 (176625, 176763),
 (176625, 176765),
 (176625, 176766),
 (176625, 176769),
 (176625, 176771),
 (176625, 176775),
 (176625, 176792),
 (176688, 108657),
 (176688, 108775),
 (176688, 109175),
 (176688, 109224),
 (176688, 109522),
 (176688, 109642),
 (176688, 109659),
 (176688, 110277),
 (176688, 111066),
 (176688, 111543),
 (176688, 111567),
 (176688, 111607),
 (176688, 111659),
 (176688, 111739),
 (176688, 111906),
 (176688, 112038),
 (176688, 112040),
 (176688, 112041),
 (176688, 112529),
 (176688, 112689),
 (176688, 112791),
 (176688, 113502),
 (176688, 113601),
 (176688, 176742),
 (176688, 176751),
 (176688, 176752),
 (176688, 176759),
 (176688, 176760),
 (176688, 176761),
 (176688, 176762),
 (176688, 176763),
 (176688, 176765),
 (176688, 176766),
 (176688, 176769),
 (176688, 176771),
 (176688, 176775),
 (176688, 176792),
 (176710, 108657),
 (176710, 108775),
 (176710, 109175),
 (176710, 109224),
 (176710, 109522),
 (176710, 109642),
 (176710, 109659),
 (176710, 110277),
 (176710, 111066),
 (176710, 111543),
 (176710, 111567),
 (176710, 111607),
 (176710, 111659),
 (176710, 111739),
 (176710, 111906),
 (176710, 112038),
 ...]

In [41]:
# Export Node_to_Node_pairs to a pickle file

with open('intermediate_files/Node_to_Node_pairs.pickle', 'wb') as handle:
    pickle.dump(Node_to_Node_pairs, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [42]:
# Export Origin_Destination_Node_Added_array to a pickle file

with open('intermediate_files/Origin_Destination_Node_Added_array.pickle', 'wb') as handle:
    pickle.dump(Origin_Destination_Node_Added_array, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [52]:
# Export block_pairing_count_list to a pickle file

with open('intermediate_files/block_pairing_count_list.pickle', 'wb') as handle:
    pickle.dump(block_pairing_count_list, handle, protocol=pickle.HIGHEST_PROTOCOL)